# Ignore PDFs
*.pdf

# Ignore specific folders
reinforcement-learning-and-mcts-sample-code copy 2
pokemon-tcg-ai-battle/

# Python cache folders
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

first_out/
Miniconda*
*.pth

submission.zip